.card{
    background-color: rgb(13, 176, 122);
    color: white;
    width: 350px;
    height: 350px;
    position: relative;
    margin: 20px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 250px;
    display: flex;
    justify-content: center;
}

.card-title{
    text-align: start;
    font-size: xx-large;
    padding-left: 10px;

}
.card-text{
    display: flex;
    justify-content: center;
    font-size: larger;
    padding-left: 10px;
}
button{
   float: right;
   padding: 35px;
   border-radius: 25px;
   padding: 10px;
   margin: 25px;
   background-color:rgb(13, 176, 122);
   border: 3px white solid;
   color: white;
}
.card2{
    background-color: rgb(24, 121, 145);
    color: white;
    width: 350px;
    height: 350px;
    position: relative;
    margin: 20px;
}
button2{
   float: right;
   padding: 35px;
   border-radius: 25px;
   padding: 10px;
   margin: 25px;
   background-color:rgb(24, 121, 145);
   border: 3px white solid;
   color: white;
}
button3{
    float: right;
   padding: 35px;
   border-radius: 25px;
   padding: 10px;
   margin: 25px;
   background-color:#700e9e;
   border: 3px white solid;
   color: white;
}
.card3{
    background-color: #700e9e;
    color: white;
    width: 350px;
    height: 350px;
    position: relative;
    margin: 20px;
}